<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-assertive">
			<!--<ion-nav-back-button></ion-nav-back-button>-->
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()" ng-hide="loginTrue"></button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content> 
	
	<ion-side-menu side="left">
		<ion-content>
			<div style="background-color:#A1C735;">
				<div class="row">
					<img src="{{studentImage}}" alt="Image" style="height:50px;width:50px;color:white;border-radius:50%;"/>
					<div class="h3" style="padding-left:5px;color:white;">{{student_name}}</div>
				</div>	
			</div>
			<ul class="list">
				<li>
					<a class="item" href="#/eventmenu/mainLanding" ng-click="toggleLeft()"><i class="icon ion-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
				</li>
				<li>
					<a class="item" href="#/eventmenu/exam_details" ng-click="toggleLeft()"><i class="icon ion-clipboard"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examination</a>
				</li>
				<li>
					<a class="item" href="#/eventmenu/attendance" ng-click="toggleLeft()"><i class="ion-social-usd-outline"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attendance</a>
				</li>
				<li>
					<a class="item" ng-click="toggleLeft()" href="#/eventmenu/calender"><i class="ion-social-usd-outline"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calender</a>
				</li>
				<li>
					<a class="item" ng-click="toggleLeft()" href="#/eventmenu/fees"><i class="icon ion-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fees</a>
				</li>
				<li>
                    <a class="item" ng-click="toggleLeft()" href="#/eventmenu/publications"><i class="ion-social-usd-outline"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Publications</a>
                </li>
				<li>
					<a class="item" href="#/eventmenu/transportDetails" ng-click="toggleLeft()"><i class="ion-android-bus"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transport</a>
				</li>
				<!--<li>
					<a class="item" href="#/eventmenu/user_feedback" ng-click="toggleLeft()"><i class="ion-social-twitch"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feedback</a>
				</li>-->
				<li>
					<a class="item" href="#/eventmenu/logout" ng-click="toggleLeft()"><i class="icon ion-log-out"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
				</li>
            </ul>
			<div class="item item-divider">
              Change Student
            </div>
			<dropdown class="ng-isolate-scope" selected="student" property="name" list="students" placeholder="Select Student"></dropdown>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>